*{box-sizing:border-box;}

html{max-width:1920px;
      margin:auto;
      background:#0f0f0f;
    }
    header{margin-left:4%;
           margin-right:4%;}
    main{margin-left:4%;
         margin-right:4%;}

body{margin:auto;}
#root{margin:auto;
      background:#293340;
      color:#fff;
      font-weight:400px;}

#topHeader{color:#fff;}

#input-form{display:flex;}
  #input-form-at-sign{background:rgb(184, 184, 184);
                      border:2px solid #000;
                      border-right:none;
                      border-radius:4px 0 0 4px;
                      color:#fff;
                      font-weight:bold;
                      padding-left:2px;
                      padding-right:2px;}
#input-form input[type=text]{border:0 2px 0 2px solid black;}
#input-form input[type=text]:disabled{border:2px solid black;
                                      background:#cccccc;
                                      color:green;}
#input-form input[type=text]:focus{background:#999;
                                    border:5px solid green;
                                    outline:none;}
nav{margin:auto;
  position:sticky;
  top:0;
  overflow:hidden;
}
#nav-links{background:#3b5998;
           display:flex;
           flex-direction:row;
           justify-content:center;
           align-content:start;
           font-size:2.5rem;
           height:56px;
           }
#nav-links li{list-style-type:none;
              height:58px;}

#nav-links li a{background:#cfd8ff;
                color:grey;
                font-weight:400;
                padding:5px 15px;
                text-decoration:none;
                display:flex;
                justify-content:space-between;}
#nav-links li a:hover{background:rgb(90, 120, 180);
                      color:#fff;
                      font-weight:600;}
.nav-text{margin:auto;}
.nav-icon{margin:auto;
          padding-left:30px;
          padding-right:30px;
        }
/* .nav-icon::after{background:rgba(150,150,150,100);
                  position:relative;
                  left:-30px;
                  display:block;
                  z-index:2;
                  opacity:50%;
                  height:45px;width:45px;
                  content:""} */
.Home-icon .nav-icon{background:url("img/home.png");
                          background-position:left;
                          background-size:contain;
                          background-repeat:no-repeat;
                          height:45px;width:45px;}
.Twitter-icon .nav-icon{background:url("img/twitter.png");
                          background-position:left;
                          background-size:contain;
                          background-repeat:no-repeat;
                          height:45px;width:45px;}
.Instagram-icon .nav-icon{background:url("img/instagram.png");
                          background-position:left;
                          background-size:contain;
                          background-repeat:no-repeat;
                          height:45px;width:45px;}
.Youtube-icon .nav-icon{background:url("img/youtube.png");
                          background-position:left;
                          background-size:contain;
                          background-repeat:no-repeat;
                          height:45px;width:45px;}
.Facebook-icon .nav-icon{background:url("img/facebook.png");
                          background-position:left;
                          background-size:contain;
                          background-repeat:no-repeat;
                          height:45px;width:45px;}
          /* background:url("img/home.png"); */
          /* background:url("img/twitter.png"); */
          /* background:url("img/instagram.png"); */
          /* background:url("img/youtube.png"); */
          /* background:url("img/facebook.png"); */

#fb-blue{border:5px solid #3B5998;background-color:#dfe3ee}
.page-content{border:2px solid #c5d9ff;
              background:#12244d;color:#fff;
              margin-top:0.4rem;
              margin-bottom:0.1rem;
              padding:10px;
              display:flex;
              justify-content:space-evenly;
              flex-wrap:wrap;
              align-content:center;
            }
.self-content{display:flex;
              justify-content:space-around;
              flex-wrap:wrap;
              align-content:center;}
.text-content{max-width:750px;padding:20px;
              width:auto;}
.image-wireframes{height:450px;width:610px;
                  background:url(img/wireframes.png);
                  background-repeat:no-repeat;
                  background-size: contain;
                  display:block;}


.tw-iframe{height:800px; width:500px; margin:15px auto;}
.ig-iframe{height:800px; width:500px; margin:15px auto;}

footer {
  background:#293340;

  color:#fdfdfd;

  border-top: solid 5px #f0f0f0;
  padding: 2rem 2rem 4rem;
  margin: auto;

  --footer-a-color:#c5d9ff;
  --footer-a-hover-color:#d9edff;
  --footer-a-visited-color:var(--footer-a-color);
}

footer a{color:var(--footer-a-color);
        text-decoration:none;}
footer a:hover{color:--footer-a-hover-color;
              text-decoration:underline;}
footer a:visited{color:var(--footer-a-visited-color);}
footer a:visited:hover{color:var(--footer-a-hover-color);}

#footer-sections{display:flex;}

body{background-color:#f9f9f9;font-family:"Lato","Helvetica",sans-serif;}


@media(max-width:400px;){
.text-content{max-width:220px}
.text-content h1{max-width:220px;}
.text-content p{max-width:220px;}
}

@media (max-width: 509px){
/*nav changes, text-content changes, iframe changes*/
.ig-iframe{height:600px;}
.tw-iframe{}
.self-content{display:block;margin:auto;}
.text-content{margin:auto;display:block;
              left:20px;
              max-width:300px;}
.text-content h1{max-width:300px;}
.text-content p{max-width:300px;}
}

@media(max-width:600px;){
  nav{position:static;}
  #nav-links li a{padding-right:0px;
                  padding-left:0px;
                  max-width:50px;}
                  .nav-icon{padding-left:0px;padding-right:0px;}
}

@media (max-width:751px){
  /* There is no inherent height bc it's not an image */
  .self-content{display:block;margin:auto;}
  .text-content{margin:auto;display:block;
                position:relative;}
  .text-content h1{width:422px;}
  .text-content p{width:422px;}
  .image-wireframes{width:90%;height:300px;
                    margin:auto;
                  }
}

@media (max-width:1550px){
  .text-content{max-width:1000px;}
}
@media (max-width:1150px){
/* nav changes,text-content changes, iframe changes */
#nav-links li a{display:inline-block;}
#nav-links li a span{display:none;}
.nav-text{display:none;}
.ig-iframe{}
.tw-iframe{}
}


/*FONT STYLES
font-family: 'Catamaran', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Quicksand', sans-serif;

*/
