*{box-sizing:border-box;}
#root{font-family:"Helvetica",sans-serif;}

#fb-blue{border:5px solid #3B5998;background-color:#dfe3ee}


body{background-color:#ffd1d1;
      }


footer {
  border-top: solid 1px black;
  padding: 2rem 2rem 4rem;
  margin: 1rem 1rem;
}

nav a{color:grey;}



/*@media (max-width: 549px)*/

/*@media (min-width: 550px)*/
